<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>address</key>
		<dict>
			<key>allowmulti</key>
			<string>yes</string>
			<key>allowurls</key>
			<string>no</string>
			<key>condition</key>
			<string></string>
			<key>defaulttxt</key>
			<string></string>
			<key>dupstartcount</key>
			<integer>-1</integer>
			<key>itemtype</key>
			<string>address</string>
			<key>longdesc</key>
			<string></string>
			<key>option</key>
			<array/>
			<key>printeddesc</key>
			<string></string>
			<key>prohibitcondition</key>
			<string>yes</string>
			<key>selection</key>
			<array/>
			<key>shortdesc</key>
			<string>business address</string>
			<key>textdb</key>
			<dict>
				<key>City</key>
				<string></string>
				<key>Country</key>
				<string></string>
				<key>State</key>
				<string></string>
				<key>Street</key>
				<string></string>
				<key>ZIP</key>
				<string></string>
			</dict>
			<key>visible</key>
			<string>no</string>
		</dict>
		<key>changed</key>
		<false/>
		<key>defaultinvitation</key>
		<string></string>
		<key>defaultrecipients</key>
		<array/>
		<key>email</key>
		<dict>
			<key>allowmulti</key>
			<string>yes</string>
			<key>allowurls</key>
			<string>no</string>
			<key>condition</key>
			<string></string>
			<key>defaulttxt</key>
			<string></string>
			<key>dupstartcount</key>
			<integer>-1</integer>
			<key>itemtype</key>
			<string>email</string>
			<key>longdesc</key>
			<string></string>
			<key>option</key>
			<array/>
			<key>printeddesc</key>
			<string></string>
			<key>prohibitcondition</key>
			<string>yes</string>
			<key>selection</key>
			<array/>
			<key>shortdesc</key>
			<string>email</string>
			<key>textdb</key>
			<dict>
				<key>textdb</key>
				<string>ralph.pina@gmail.com</string>
			</dict>
			<key>visible</key>
			<string>yes</string>
		</dict>
		<key>lastsyncedrev</key>
		<integer>-1</integer>
		<key>logopresent</key>
		<false/>
		<key>name</key>
		<dict>
			<key>allowmulti</key>
			<string>yes</string>
			<key>allowurls</key>
			<string>no</string>
			<key>condition</key>
			<string></string>
			<key>defaulttxt</key>
			<string></string>
			<key>dupstartcount</key>
			<integer>-1</integer>
			<key>itemtype</key>
			<string>name</string>
			<key>longdesc</key>
			<string></string>
			<key>option</key>
			<array/>
			<key>printeddesc</key>
			<string></string>
			<key>prohibitcondition</key>
			<string>yes</string>
			<key>selection</key>
			<array/>
			<key>shortdesc</key>
			<string>name and organization</string>
			<key>textdb</key>
			<dict>
				<key>firstname</key>
				<string></string>
				<key>lastname</key>
				<string></string>
				<key>org</key>
				<string></string>
			</dict>
			<key>visible</key>
			<string>no</string>
		</dict>
		<key>phone</key>
		<dict>
			<key>allowmulti</key>
			<string>yes</string>
			<key>allowurls</key>
			<string>no</string>
			<key>condition</key>
			<string></string>
			<key>defaulttxt</key>
			<string></string>
			<key>dupstartcount</key>
			<integer>-1</integer>
			<key>itemtype</key>
			<string>phone</string>
			<key>longdesc</key>
			<string></string>
			<key>option</key>
			<array/>
			<key>printeddesc</key>
			<string></string>
			<key>prohibitcondition</key>
			<string>yes</string>
			<key>selection</key>
			<array/>
			<key>shortdesc</key>
			<string>phone</string>
			<key>textdb</key>
			<dict>
				<key>textdb</key>
				<string></string>
			</dict>
			<key>visible</key>
			<string>no</string>
		</dict>
		<key>planname</key>
		<string>Not Subscribed</string>
		<key>subscribed</key>
		<false/>
		<key>suppressprivacynotice</key>
		<false/>
		<key>userid</key>
		<string>ralph_dot_pina_at_gmail_dot_com</string>
		<key>website</key>
		<dict>
			<key>allowmulti</key>
			<string>yes</string>
			<key>allowurls</key>
			<string>no</string>
			<key>condition</key>
			<string></string>
			<key>defaulttxt</key>
			<string></string>
			<key>dupstartcount</key>
			<integer>-1</integer>
			<key>itemtype</key>
			<string>url</string>
			<key>longdesc</key>
			<string></string>
			<key>option</key>
			<array/>
			<key>printeddesc</key>
			<string></string>
			<key>prohibitcondition</key>
			<string>yes</string>
			<key>selection</key>
			<array/>
			<key>shortdesc</key>
			<string>website</string>
			<key>textdb</key>
			<dict>
				<key>textdb</key>
				<string></string>
			</dict>
			<key>visible</key>
			<string>no</string>
		</dict>
	</dict>
</array>
</plist>
