<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict><key>dict</key><dict><key>hello</key><string>Ralph</string></dict><key>dict3</key><dict><key>number</key><integer>10</integer></dict></dict>
</array>
</plist>